@import 'tailwindcss/base';
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-shadow-gray-50 {
    text-shadow: 1px 1px 0px rgba(249, 250, 251, 1);
  }

  .svg-shadow-gray-50 {
    -webkit-filter: drop-shadow(1px 1px 0px rgba(249, 250, 251, 1));
    filter: drop-shadow(1px 1px 0px rgba(249, 250, 251, 1));
  }
}

