@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;

  padding: 0.5rem;
  box-sizing: border-box;

  @media (--media-min-small) {
    padding: 1rem;
  }
}
